@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 0px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

.logo-novedades{
	margin-right:1030px;
	margin-top:-75px;
}


#main-header {
	background: #5bd1d7;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}

	centro__main-element{
		margin: 0%; 
	  }

	  .proa-image{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 100px;
	  }
	  
	  .centro__first-container{
		text-align: justify;
		display: flex;
		background-color: rgb(0, 29, 44);
		width: 100%;
		height: 50%;
		margin-top: 30px;
	  } 
	  
	  .centro__text-content {
		text-align: justify;
		display: flex;
		justify-content: end;
		padding: 100px;
		color: rgb(215, 215, 215);
		padding-top: 130px;
	  }
	  /*centro 2.....................................................................           */
	  centro__second-main-element{
		margin: 0%;
	  }
	  
	  .centro__second-container{
		display: flex;
		background-color: rgb(122, 163, 184);
		width: 100%;
		height: 50%;
		margin-top: 30px;
	  }
	  
	
	  
	  .centro__second-text {
		display: flex;
		justify-content: end;
		padding: 100px;
		color: rgb(215, 215, 215);
		padding-top: 130px;
	  }
	  /*centro3....................................................................................*/
	  centro__third-main-element{
		margin: 0%;
	  }
	  
	  .centro__third-container{
		display: flex;
		background-color: rgb(169, 207, 243);
		width: 100%;
		height: 50%;
		margin-top: 30px;
	  }
	  
	  .proa-third-image {
		display: flex;
		padding-top: 50px;
		padding-left: 130px;
		width: 500px;
		height: 300px;
		border-radius: 8px;
		filter: drop-shadow(20px 20px 5px black);
	  }
	  
	  .centro__third-text {
		display: flex;
		justify-content: end;
		padding: 100px;
		color: rgb(0, 0, 0);
		padding-top: 130px;
	  }
	  

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	/*centro 2.....................................................................           */
centro__second-main-element{
  margin: 0%;
}

.centro__second-container{
  display: flex;
  background-color: rgb(122, 163, 184);
  width: 100%;
  height: 50%;
  margin-top: 30px;
}

.proa-second-image {
  display: flex;
  padding-top: 50px;
  padding-left: 130px;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  filter: drop-shadow(20px 20px 5px black);
}

.centro__second-text {
  display: flex;
  justify-content: end;
  padding: 100px;
  color: rgb(215, 215, 215);
  padding-top: 130px;
}
/*centro3....................................................................................*/
centro__third-main-element{
  margin: 0%;
}

.centro__third-container{
  display: flex;
  background-color: rgb(169, 207, 243);
  width: 100%;
  height: 50%;
  margin-top: 30px;
}

.proa-third-image {
  display: flex;
  padding-top: 50px;
  padding-left: 130px;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  filter: drop-shadow(20px 20px 5px black);
}

.centro__third-text {
  display: flex;
  justify-content: end;
  padding: 100px;
  color: rgb(0, 0, 0);
  padding-top: 130px;
}


/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
           
                #main-content header,
                #main-content .content {
                    padding: 40px;
                }
            
				@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


.footer-distributed{ 
	background: rgb(0, 0, 0);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left; 
	font: bold 16px sans-serif;
	padding: 55px 50px;
  font-family: Open Sans;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer Derecho */

.footer-distributed .footer-left{
	width: 40%;
}

/* Logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color: #50c6d8;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  rgb(255, 255, 255);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Centro */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #000000;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
